{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
	<div class="row">
		<div class="col-md-3">
			<form action="{% url 'manage_resident' %}" method="post" class="form-horizontal" role="form">
				{% csrf_token %}
				<fieldset>
					<legend>Adicionar condômino:</legend>
					{% bootstrap_form residentform %}
					<button type="submit" class="btn btn-default bt_login">Salvar</button>
					<input type="hidden" name="next" value="{{ next }}" />
				</fieldset>
			</form>
		</div>
		<div class="col-md-6">
			<h3>Relação de condôminos: </h3>
			<table border="1" id="mytable">
				<thead>
					<tr>
						<th>UN</th>
						<th>TIPO</th>
						<th>NOME</th>
						<th>E-MAIL</th>
						<th>EDIT</th>
					</tr>
				</thead>
				<tbody id="rel_residents">
				</tbody>
			</table>
		</div>
		<div class="col-md-3" id="edit_resident">
		</div>
	</div>
{% endblock content %}