/*
Copyright 2016 Elder Sanitá Trevisan

This file is part of BulkMail.

Foobar is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Foobar is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/
html, body{margin: 0 auto; width: 100%}

.index-page{margin-top: 20px;}

.container{
	margin: 10px auto;
	width: 100%;
}

.login-box{
	margin-top: 50px;
}

.login-box-left{
	text-align: center;
}

.login-box-right h4{
	text-align: center;
}

.loginform{
	max-width: 320px;
}

#condominio{font-size: 175%;}

th, tr{text-align: center;}

td{padding: 0 5px;}

table{width: 100%;}

.version-page{margin: 0 auto; max-width: 420px;}